*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}
#logo{
    color:#171133;
}
html{
    overflow-x: hidden;
}
body{
    background-color: #230036;
}
footer,.footer{
    background-color: #25214F;
}
.header{
    position: fixed;
    width: 100%;
    z-index: 10;
}
main{
    padding-top: 70px;
}
.navbar-brand{
    font-size:25px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}
.navbar-brand img{
    width: 30px;
    margin-right: 4px;
}

.me-auto{
    margin: 0 !important;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 50px;
    
}
.navbar-light .navbar-nav .nav-link{
    color:#1d109e;
}
.btn{
    background-color:#1d109e;
    width: 150px;
    border-radius: 20px;
    height:45px;
    margin-right: 60px;
}
.btn a{
    color: white;
    text-decoration: none;
}
main .main-header{
    background-image: url(../images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 70vh;
    margin-bottom: 100px;
    padding-top:50px;
}
.letters-main-header  {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    width: 40%;
    text-align: left;
    flex-wrap: wrap;
}
.letters-main-header h1{
    font-weight: bold;
    font-size:60px
}
.letters-main-header p{
    font-size: 20px;
}
.letters-main-header button{
    background-color: #121058;
    border: 1px solid #0800ff;;
    width: 250px;
    height: 7vh;
    border-radius: 60px;
}
.img-main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.log-bar-container{
    background-color: aliceblue;
    margin-left: 60px;
    margin-right: 60px;
    border-radius:10px;
    height: 12vh;
    width: 100%;
    margin-top: 40px;
}
.log-bar ul{
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0;
    height: 12vh;
    flex-wrap: wrap;
    list-style: none;
}
.auto-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}
.auto-slider p,h1{
    font-weight: bold;
}
.auto-slider p{
    font-size: 20px;
}
.auto-slider h1{
    font-size: 55px;
}
.auto-slider .slider{
    background-color: aliceblue;
    height: 50vh;
    width: 100%;
    margin-top: 100px;
}
.stay-home .container-letters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;

}
.stay-home .letters-stay-home {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.stay-home .letters-stay-home h1{
    font-weight: bold;
    font-size: 60px;
}
.stay-home .letters-stay-home button{
    margin-top: 60px;
    background-color: #1d109e;
    border: 1px solid black;
    width: 200px;
    height: 7vh;
    border-radius:6px;
}
.img-stay-home img{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.info-stay-home div img{
    width: 30px;
    filter: invert(1);
}
.accordion-button::after{
    background-image: none !important;
}
.accordion-button:not(.collapsed)::after{
    background-image: none !important;
}
.letters-faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}
.accordion{
    margin-right: 60px;
    width: 1000px;
    margin-bottom: 200px;
}
.accor-faqs{
    width: 100%;
}
.accordion-button{
    font-weight: normal!important;
}
.accordion-button:focus{
    z-index: none !important;
    border-color:none !important;
    outline: none !important;
    box-shadow: none !important;
}
.accordion-button:not(.collapsed){
    color: white;
    background-color: #1b2a4e;
    box-shadow: none !important;
}
.accordion-item{
    background-color: #1b2a4e;
    border: none;
}
.accordion-button{
    background-color: #1b2a4e;
    color: #fff;
    padding: 2.5rem 3.25rem;
    font-size: 20px;
    font-weight: bold;
}
.accordion-body{
    padding: 2rem 3.25rem;
}
.simple-app{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}
.container-simple-app{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-image: url(../images/bacground\ 2.png);
    border-radius: 10px;
    height:50vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.letters-simple-app{
    width: 100%;
}
.letters-simple-app h1{
    font-size: 50px;
    margin-bottom:30px;
}
.letters-simple-app p{
    margin-bottom:30px;
}
.letters-simple-app button{
    background-color: white;
    color: black;
    border: 1px solid white;
    width: 200px;
    height: 7vh;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 4vh;
    font-size: 12px;
}
footer div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
@media (min-width: 320px){
    .navbar-brand{
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
    .me-auto{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: flex-start;
        padding-bottom: 15px;
    }
    .me-auto .btn-navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-left: 60px;
    }
    main .main-header{
        height: 120vh;
    }
    main .main-header .letters-main-header {
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-main-header {
        width: 100%;
    }
    main .main-header h1{
        font-size: 30px;
        margin-bottom: 20px;
    }
    main .main-header p{
        font-size: 15px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    .letters-main-header button{
        margin-bottom:30px;
    }
    .img-main-header img{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .log-bar{
        margin-top:70px;
    }
    .log-bar-container{   
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
        justify-content: space-between;
    }
    .log-bar ul{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       margin-left:15px;
       margin-right: 15px;
       height: 100%;
    }
    .log-bar img {
        width: 75px;
    }
    .auto-slider{
        margin-top: 310px;
        margin-left:20px;
        margin-right: 20px;
    }
    .letters-auto-slider h1 {   
        font-size:25px;
    }
    .letters-auto-slider p{
        font-size:15px;
    }
    .stay-home{
        margin: 0;
    }
    .stay-home .container-letters{
       margin: 0; 
    }
    .img-stay-home img{
        width: 300px;
        
    }
    .img-stay-home{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .stay-home .letters-stay-home {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        
    }
    .stay-home .letters-stay-home h1{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .stay-home .letters-stay-home p{
        font-size: 15px;
        margin-bottom: 30px;
    }
    .btn-stay-home{
        margin-top:0 !important;
    }
    .info-stay-home{
        margin-top: 60px;
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }
    .info-stay-home .info{
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        flex-direction: column;
        gap: 10px;
    }
    .info-stay-home .info h1{
        font-size:35px;
    }
    .info-stay-home .info span{
        font-size: 13px;
        font-weight: bold;
        margin-top: -10px;
    }
    .letters-faqs{
       margin-bottom: 30px;
    }
    .accordion{
        width: 100%;
    }
    .container-simple-app{
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-left: 20px;
       margin-right: 20px;
    }
    .letters-simple-app .btn-simple-app {
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 35px;
    }
    .letters-simple-app p {
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 35px;
    }
    .letters-simple-app h1{
        font-size: 30px;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 35px;
    }
    .img-simple-app img {
        width: 150px;
        margin-top: 40px;
        margin-bottom: 40px;
        
    }
    .news{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-top: 100px;
        width: 100%;
        
    }
    .new{
        padding: 20px;
    }
    .news .new{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        
    }
    .img-new{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .news .new img{
        width: 290px;
        margin-bottom: 20px;
    }
    .news .new h1{
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }
    .letters-new header span{
        margin-right: 15px;
    }
    .new a{
        display: flex;
        align-self: flex-start;
        color: #fff;
        font-weight: bold;
    }
    .footer {
        display: flex;
        flex-direction:column;
        border-bottom: 1px solid black;
    }
    .footer-title{
        margin-bottom:60px;
    }
    .footer-title h2{
        display: flex;
        font-weight: bold;
        font-size: 25px;
        margin-top: 50px;
    }
    .margin{
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer-title h2 img {
        margin-right:5px;
        width: 30px;
        filter: invert(1) sepia(1) hue-rotate(360deg) saturate(10%);
          
    }
    .footer-title p{
        margin-top:20px;
        font-size: 14px;
        line-height:35px;
    }
    .icons-title{
        display: flex;
        justify-content: space-between;
        width: 180px;
        height: 30px;
    }
    .icons-title i{
        background-color: #171133;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer li{
        list-style: none;
        line-height: 40px;
        font-size: 14px;
    }
    .footer .title{
        padding-bottom: 20px;
        font-size:15px
    }
    .footer-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }
    .footer-body ul{
        padding: 0!important;
    }
    
}